<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:allowBackup="false"
        android:label="Retro Brightness"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".SliderActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/SliderTheme" />

        <receiver
            android:name=".BrightnessWidgetProvider"
            android:exported="true">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/retro_brightness_widget_info" />

        </receiver>

    </application>

</manifest>
